//Colour Palatte
//Blacks
$black:      #050505;
$darkGrey:   #272727;
$lightGrey:  #c7c7c7;
$white:      #f3f3f3;

//Purples
$deepPurple:  #881058;
$midPurple:   #ab568a;
$lightPurple: #cd9aba;
$palePurple:  #faf4f8;

//Blues
$deepBlue:    #0e5f9b;
$midBlue:     #4d86b4;
$lightBlue:   #8baecc;
$paleBlue:    #edf1f6;

//Greens
$deepGreen:   #277512;
$midGreen:    #669c57;
$lightGreen:  #a4c39c;
$paleGreen:   #f3f6f2;

//Yellows
$deepYellow:  #dbbd0b;
$midYellow:   #e3cf56;
$lightYellow: #ece2a2;
$paleYellow:  #f9f9f4;

//Fonts
$fontStack: "Calluna", Georgia, Times, 'Times New Roman', serif;

//Main body
body {
  background: $white;
  &.classification {
    background: $palePurple;
  }
  &.regression {
    background: $paleBlue;
  }
  &.techniques {
    background: $paleGreen;
  }
  &.summary {
    background: $paleYellow;
  }
}

.container {
  margin: 0 auto;
  width: 960px;
}

.post-html {
  width: 640px;
  margin: 0 auto;
  padding: 0 0 36px;
  
  ol {
    list-style: decimal-leading-zero outside;
  }
  ul {
    float:none;
    list-style: disc outside;
  }
}

//Header
header {
  margin: 10px 0 26px;
  padding: 0 40px;
  * {
    display: inline-block;
  }
}

//Footer
footer {
  height:18px;
  margin: 18px 0 36px;
  display:block;
  width:960px;
}

//Article
figure {
  padding: 0 0 18px;
  margin: 0 auto;
  @extend .center;
  img {
    padding: 9px;
    width:520px;
  }
  figcaption {
    width: 520px;
    @extend .left;
    font-size: 75%;
    color: darken($lightGrey, 20%);
    left: 220px;
    position: relative;
  }
}

//Lists
nav {
  display: inline-block;
  height:80px;
  float:left;
  li {
    cursor: pointer;
  }
}
header ul {
  @extend .a-c;
  float: left;
   & > li {
    display: inline-block;
    padding: 32px 0px 0px 24px;
    position: relative;
    & > ul {
      display: none;
      float:right;
      height: 24px;
      margin: -9px 16px 0;
      li {
        padding: 0 16px 0 0;
        color: $black;
        }
    }
    &:hover{
      & > ul{
        & > li {
          @extend .fadeInLeft;
          &:nth-child(2) {
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
          }
          &:nth-child(3) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
          }
          &:nth-child(4) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
          }
        }
        display: inline-block;
      }
    }
  }
}
dl {
  clear: both;
  .defn-container{
    float:left;
    width:480px;
    height: 80px;
    border-left: 4px solid $darkGrey;
    padding: 9px 0 9px 9px;
    margin: 9px;
    background: #ffffff;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &.classification {
      border-color: $deepPurple;
    }
    &.regression {
      border-color: $deepBlue;
    }
    &.techniques {
      border-color: $deepGreen;
    }
    &.summary {
      border-color: $deepYellow;
    }
  }
  dt{
    @extend strong;
    margin-bottom: 18px;
    width: 440px;
  }
  dd {
    font-size: 0.75em;
    line-height: 1.125em;
    width: 440px;
  }
  .defn-arr {
    padding-top: 32px;
    float:right;
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}
dl:after {
  clear: left;
}
//Seperators
.vertical-bar {
  position: relative;
  top: 5px;
  height: 24px;
  width: 4px;
  margin-right: 6px;
  display: inline-block;
  &.tall {
    position: static;
    height:80px;
    margin: 0 16px;
  }
  &.dark-grey {
    background: $darkGrey;
  }
  a.purple:hover &{
    background: $lightPurple;
  }
  a.blue:hover &{
    background: $lightBlue;
  }
  a.green:hover &{
    background: $lightGreen;
  }
  a.yellow:hover &{
    background: $midYellow;
  }

}

// Animations
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft .4s;
  animation: fadeInLeft .4s;
  -webkit-animation-fill-mode:both;
}
