//Colour Palatte
//Blacks
$black:      #050505;
$darkGrey:   #272727;
$lightGrey:  #c7c7c7;
$white:      #f3f3f3;

//Purples
$deepPurple:  #881058;
$midPurple:   #ab568a;
$lightPurple: #cd9aba;
$palePurple:  #faf4f8;

//Blues
$deepBlue:    #0e5f9b;
$midBlue:     #4d86b4;
$lightBlue:   #8baecc;
$paleBlue:    #edf1f6;

//Greens
$deepGreen:   #277512;
$midGreen:    #669c57;
$lightGreen:  #a4c39c;
$paleGreen:   #f3f6f2;

//Yellows
$deepYellow:  #dbbd0b;
$midYellow:   #e3cf56;
$lightYellow: #ece2a2;
$paleYellow:  #f9f9f4;

//Fonts
$fontStack: "Calluna", Georgia, Times, 'Times New Roman', serif;
$secondaryFontStack: "proxima-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;

::selection {
  color: $black;
  background: $lightGrey; /* Safari */
}
::-moz-selection {
  color: $black;
  background: $lightGrey; /* Firefox */
}

/*
  All of our type will be based on the following grid:
  1em == 16px
  font-size: 12px;
  line-height: 18px;

  NB: Padding and Margins (including width of borders) but be a
      multiple of the line-height.
*/

//Body copy
html {
  color: $darkGrey;
  font-family: $fontStack;
  font-variant-ligatures: additional-ligatures;
  -webkit-font-variant-ligatures: additional-ligatures;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
p {
  margin: 0 0 18px 0;
  font-size: 1em;
  line-height: 1.4em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  &.lead {
    font-size: 1em;
    line-height: 1.5em;
  }
}

//Headings
h1 {
  @extend strong;
  font-size: 3em;
  line-height: 1.125em;
}
h2 {
  @extend strong;
  font-size: 2.25em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

//Links
a, a:visited {
  color: $black;
}
a:hover, a:focus {
  text-decoration: none;
  &.purple {
    color: $lightPurple;
  }
  &.blue {
    color: $lightBlue;
  }
  &.green {
    color: $lightGreen;
  }
  &.yellow {
    color: $midYellow;
  }
}

nav a, nav a:visited {
  text-decoration:none;
  color: $black;
}
nav > ul > li > a:hover, nav a:focus {
  .classification header > & {
    color: $deepPurple;
  }
  .regression header > & {
    color: $deepBlue;
  }
  .techniques header > & {
    color: $deepGreen;
  }
  .summary header > & {
    color: $deepYellow;
  }
  .home header > &, .listen header > & {
    color: $lightGrey;
  }
}

//Variants
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
pre, code {
  font-family: "prestige-elite-std", "Menlo", monospace;
}
sub, sup {
  /* Specified in % so that the sup/sup is the
  right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
  interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
  the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
  is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
  half as far down as the superscript moved up */
  bottom: -0.25em;
}

//Special Text
blockquote {
  margin: 10px 50px 10px 0;
  padding-left: 15px;
  border-left: 3px solid $lightGrey;
  .classification & {
    color: $deepPurple;
    border-color: $deepPurple;
  }
  .regression & {
    color: $deepBlue;
    border-color: $deepBlue;
  }
  .techniques & {
    color: $deepGreen;
    border-color: $deepGreen;
  }
  .summary & {
    color: $deepYellow;
    border-color: $deepYellow;
  }
}

//Additional Classes
header {
  * {
    font-family: $secondaryFontStack;
    font-weight: 900;
  }
}

//Text Formatting
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.f-l {float: left;}
.f-r {float: right;}
.c-l {clear: left;}
.c-r {clear: right;}
.c-b {clear: both;}
.i-b {display: inline-block;}
.a-c {text-transform: uppercase;}
.s-c {font-variant: small-caps;}
