/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, h1, h2, dl dt, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::selection {
  color: #050505;
  background: #c7c7c7;
  /* Safari */ }

::-moz-selection {
  color: #050505;
  background: #c7c7c7;
  /* Firefox */ }

/*
  All of our type will be based on the following grid:
  1em == 16px
  font-size: 12px;
  line-height: 18px;

  NB: Padding and Margins (including width of borders) but be a
      multiple of the line-height.
*/
html {
  color: #272727;
  font-family: "Calluna", Georgia, Times, "Times New Roman", serif;
  font-variant-ligatures: additional-ligatures;
  -webkit-font-variant-ligatures: additional-ligatures;
  text-rendering: optimizeLegibility;
  font-kerning: normal; }

p {
  margin: 0 0 18px 0;
  font-size: 1em;
  line-height: 1.4em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  p.lead {
    font-size: 1em;
    line-height: 1.5em; }

h1 {
  font-size: 3em;
  line-height: 1.125em; }

h2 {
  font-size: 2.25em;
  line-height: 1.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold; }

a, a:visited {
  color: #050505; }

a:hover, a:focus {
  text-decoration: none; }
  a:hover.purple, a:focus.purple {
    color: #cd9aba; }
  a:hover.blue, a:focus.blue {
    color: #8baecc; }
  a:hover.green, a:focus.green {
    color: #a4c39c; }
  a:hover.yellow, a:focus.yellow {
    color: #e3cf56; }

nav a, nav a:visited {
  text-decoration: none;
  color: #050505; }

.classification header > nav > ul > li > a:hover, .classification header > nav a:focus {
  color: #881058; }
.regression header > nav > ul > li > a:hover, .regression header > nav a:focus {
  color: #0e5f9b; }
.techniques header > nav > ul > li > a:hover, .techniques header > nav a:focus {
  color: #277512; }
.summary header > nav > ul > li > a:hover, .summary header > nav a:focus {
  color: #dbbd0b; }
.home header > nav > ul > li > a:hover, .listen header > nav > ul > li > a:hover, .home header > nav a:focus, .listen header > nav a:focus {
  color: #c7c7c7; }

em {
  font-style: italic; }

strong, h1, h2, dl dt {
  font-weight: 700; }

pre, code {
  font-family: "prestige-elite-std", "Menlo", monospace; }

sub, sup {
  /* Specified in % so that the sup/sup is the
  right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
  interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
  the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
  is already set and you can remove this rule */
  vertical-align: baseline; }

sup {
  /* Move the superscripted text up */
  top: -0.5em; }

sub {
  /* Move the subscripted text down, but only
  half as far down as the superscript moved up */
  bottom: -0.25em; }

blockquote {
  margin: 10px 50px 10px 0;
  padding-left: 15px;
  border-left: 3px solid #c7c7c7; }
  .classification blockquote {
    color: #881058;
    border-color: #881058; }
  .regression blockquote {
    color: #0e5f9b;
    border-color: #0e5f9b; }
  .techniques blockquote {
    color: #277512;
    border-color: #277512; }
  .summary blockquote {
    color: #dbbd0b;
    border-color: #dbbd0b; }

header * {
  font-family: "proxima-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 900; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center, figure, figure figcaption, figure figcaption p {
  text-align: center; }

.f-l {
  float: left; }

.f-r {
  float: right; }

.c-l {
  clear: left; }

.c-r {
  clear: right; }

.c-b {
  clear: both; }

.i-b {
  display: inline-block; }

.a-c, header ul {
  text-transform: uppercase; }

.s-c {
  font-variant: small-caps; }

body {
  background: #f3f3f3; }
  body.classification {
    background: #faf4f8; }
  body.regression {
    background: #edf1f6; }
  body.techniques {
    background: #f3f6f2; }
  body.summary {
    background: #f9f9f4; }

.container {
  margin: 0 auto;
  width: 960px; }

.post-html {
  width: 640px;
  margin: 0 auto;
  padding: 0 0 36px; }
  .post-html ol {
    list-style: decimal-leading-zero outside; }
  .post-html ul {
    float: none;
    list-style: disc outside; }

header {
  margin: 10px 0 26px;
  padding: 0 40px; }
  header * {
    display: inline-block; }

footer {
  height: 18px;
  margin: 18px 0 36px;
  display: block;
  width: 960px; }

figure {
  padding: 0 0 18px;
  margin: 0 auto; }
  figure img {
    padding: 9px;
    width: 520px; }
  figure figcaption {
    width: 100%;
    font-size: 75%;
    color: #949494;
    position: relative; }

nav {
  display: inline-block;
  height: 80px;
  float: left; }
  nav li {
    cursor: pointer; }

li {
  padding-bottom: 10px; }

header ul {
  float: left; }
  header ul > li {
    display: inline-block;
    padding: 32px 0px 0px 24px;
    position: relative; }
    header ul > li > ul {
      float: right;
      height: 24px;
      margin: -9px 16px 0; }
      header ul > li > ul li {
        padding: 0 16px 0 0; }
        header ul > li > ul li .classification {
          color: #cd9aba; }
        header ul > li > ul li .regression {
          color: #8baecc; }
        header ul > li > ul li .techniques {
          color: #669c57; }
        header ul > li > ul li .summary {
          color: #e3cf56; }
        header ul > li > ul li:hover .classification {
          color: #ab568a; }
        header ul > li > ul li:hover .regression {
          color: #4d86b4; }
        header ul > li > ul li:hover .techniques {
          color: #277512; }
        header ul > li > ul li:hover .summary {
          color: #dbbd0b; }

dl {
  clear: both; }
  dl .defn-container {
    float: left;
    width: 480px;
    height: 80px;
    border-left: 4px solid #272727;
    padding: 9px 0 9px 9px;
    margin: 9px;
    background: #ffffff;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    dl .defn-container.classification {
      border-color: #881058; }
    dl .defn-container.regression {
      border-color: #0e5f9b; }
    dl .defn-container.techniques {
      border-color: #277512; }
    dl .defn-container.summary {
      border-color: #dbbd0b; }
  dl dt {
    margin-bottom: 18px;
    width: 440px; }
  dl dd {
    font-size: 0.75em;
    line-height: 1.125em;
    width: 440px; }
  dl .defn-arr {
    padding-top: 32px;
    float: right;
    display: inline-block; }
    dl .defn-arr a {
      text-decoration: none; }

dl:after {
  clear: left; }

.vertical-bar {
  position: relative;
  top: 5px;
  height: 24px;
  width: 4px;
  margin-right: 6px;
  display: inline-block; }
  .vertical-bar.tall {
    position: static;
    height: 80px;
    margin: 0 16px; }
  .vertical-bar.dark-grey {
    background: #272727; }
  .vertical-bar.classification {
    background: #cd9aba; }
  .vertical-bar.regression {
    background: #8baecc; }
  .vertical-bar.techniques {
    background: #669c57; }
  .vertical-bar.summary {
    background: #e3cf56; }
  a.purple:hover .vertical-bar {
    background: #ab568a; }
  a.blue:hover .vertical-bar {
    background: #4d86b4; }
  a.green:hover .vertical-bar {
    background: #277512; }
  a.yellow:hover .vertical-bar {
    background: #dbbd0b; }

hr {
  border: none;
  border-top: 1px solid #3e3e3e; }
  .classification hr {
    border-color: #881058; }
  .regression hr {
    border-color: #0e5f9b; }
  .techniques hr {
    border-color: #277512; }
  .summary hr {
    border-color: #dbbd0b; }

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 2px solid #3e3e3e;
  margin: 15px auto; }
  .classification table {
    border-color: #881058; }
  .regression table {
    border-color: #0e5f9b; }
  .techniques table {
    border-color: #277512; }
  .summary table {
    border-color: #dbbd0b; }

table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center; }

table td,
table th {
  border-width: 0 0 0 1px;
  font-size: inherit;
  text-align: center;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */ }

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
  border-left-width: 0; }

table thead {
  text-align: left;
  vertical-align: bottom; }
  .classification table thead {
    background-color: #881058;
    color: #faf4f8; }
  .regression table thead {
    background-color: #0e5f9b;
    color: #edf1f6; }
  .techniques table thead {
    background-color: #277512;
    color: #a4c39c; }
  .summary table thead {
    background-color: #dbbd0b;
    color: #ece2a2; }

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
  background-color: transparent; }

/* nth-child selector for modern browsers */
.classification table tr:nth-child(2n) td {
  background-color: #cd9aba; }
.regression table tr:nth-child(2n) td {
  background-color: #8baecc; }
.techniques table tr:nth-child(2n) td {
  background-color: #669c57; }
.summary table tr:nth-child(2n) td {
  background-color: #e3cf56; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation: fadeInLeft .4s;
  animation: fadeInLeft .4s;
  -webkit-animation-fill-mode: both; }
