/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, h1, h2, dl dt, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::selection {
  color: #050505;
  background: #c7c7c7;
  /* Safari */ }

::-moz-selection {
  color: #050505;
  background: #c7c7c7;
  /* Firefox */ }

/*
  All of our type will be based on the following grid:
  1em == 16px
  font-size: 12px;
  line-height: 18px;

  NB: Padding and Margins (including width of borders) but be a
      multiple of the line-height.
*/
html {
  color: #272727;
  font-family: "Calluna", Georgia, Times, "Times New Roman", serif; }

p {
  margin: 0 0 18px 0;
  font-size: 1em;
  line-height: 1.4em; }
  p.lead {
    font-size: 1em;
    line-height: 1.5em; }

h1 {
  font-size: 3em;
  line-height: 1.125em; }

h2 {
  font-size: 2.25em;
  line-height: 1.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1em;
  line-height: 1.5em; }

a, a:visited {
  color: #050505; }

a:hover, a:focus {
  text-decoration: none; }
  a:hover.purple, a:focus.purple {
    color: #cd9aba; }
  a:hover.blue, a:focus.blue {
    color: #8baecc; }
  a:hover.green, a:focus.green {
    color: #a4c39c; }
  a:hover.yellow, a:focus.yellow {
    color: #e3cf56; }

nav a, nav a:visited {
  text-decoration: none; }

nav a:hover, nav a:focus {
  color: #c7c7c7; }

em {
  font-style: italic; }

strong, h1, h2, dl dt {
  font-weight: 700; }

pre {
  font-family: "Menlo", monospace; }

header * {
  font-family: "proxima-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 900; }

.black {
  color: #050505; }

.purple {
  color: #881058; }

.blue {
  color: #0e5f9b; }

.green {
  color: #277512; }

.yellow {
  color: #dbbd0b; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.f-l {
  float: left; }

.f-r {
  float: right; }

.c-l {
  clear: left; }

.c-r {
  clear: right; }

.c-b {
  clear: both; }

.i-b {
  display: inline-block; }

.a-c, ul {
  text-transform: uppercase; }

.s-c {
  font-variant: small-caps; }

body {
  background: #f3f3f3; }
  body.topic-a {
    background: #faf4f8; }
  body.topic-b {
    background: #edf1f6; }
  body.topic-c {
    background: #f3f6f2; }
  body.topic-d {
    background: #f9f9f4; }

.container {
  margin: 0 auto;
  width: 960px; }

.post-html {
  width: 640px;
  margin: 0 auto;
  padding: 0 0 36px; }

header {
  margin: 10px 0 26px; }
  header * {
    display: inline-block; }

footer {
  height: 18px;
  margin: 18px 0 36px;
  display: block;
  width: 960px; }

nav {
  display: inline-block;
  height: 80px;
  float: left; }
  nav li {
    cursor: pointer; }

ul {
  float: left; }
  ul > li {
    display: inline-block;
    padding: 32px 0px 0px 24px;
    position: relative; }
    ul > li > ul {
      display: none;
      float: right;
      height: 24px;
      margin: -9px 16px 0; }
      ul > li > ul li {
        padding: 0 16px 0 0; }
    ul > li:hover > ul {
      display: inline-block; }
      ul > li:hover > ul > li:nth-child(2) {
        -webkit-animation-delay: .1s;
        animation-delay: .1s; }
      ul > li:hover > ul > li:nth-child(3) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s; }
      ul > li:hover > ul > li:nth-child(4) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s; }

dl {
  clear: both; }
  dl .defn-container {
    float: left;
    width: 480px;
    border-left: 4px solid #272727;
    padding: 9px 0 9px 9px;
    margin: 9px;
    background: #ffffff;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    dl .defn-container.topic-a {
      border-color: #881058; }
    dl .defn-container.topic-b {
      border-color: #0e5f9b; }
    dl .defn-container.topic-c {
      border-color: #277512; }
    dl .defn-container.topic-d {
      border-color: #dbbd0b; }
  dl dt {
    margin-bottom: 18px; }
  dl dd {
    font-size: 0.75em;
    line-height: 1.125em; }

dl:after {
  clear: left; }

.vertical-bar {
  position: relative;
  top: 5px;
  height: 24px;
  width: 4px;
  margin-right: 6px;
  display: inline-block; }
  .vertical-bar.tall {
    position: static;
    height: 80px;
    margin: 0 16px; }
  .vertical-bar.dark-grey {
    background: #272727; }
  a.purple:hover .vertical-bar {
    background: #cd9aba; }
  a.blue:hover .vertical-bar {
    background: #8baecc; }
  a.green:hover .vertical-bar {
    background: #a4c39c; }
  a.yellow:hover .vertical-bar {
    background: #e3cf56; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-16px, 0, 0);
    transform: translate3d(-16px, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft, ul > li:hover > ul > li {
  -webkit-animation: fadeInLeft .4s;
  animation: fadeInLeft .4s;
  -webkit-animation-fill-mode: both; }
